<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up page</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <input type="input" name="first_name" placeholder="first_name" required>
    <input type="input" name="last_name" placeholder="last_name" required>
    <input type="input" name="username" placeholder="username" required>
    <input type="input" name="password" placeholder="password" required>
    <input type="submit" value="sign up">
</form>
</body>
</html>